body {
  background-color: #c9b5a9;
}


.navbar {
    background-color: #007BFF;
  }
  
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  
  .btn-danger {
    background-color: #DC3545;
    border-color: #DC3545;
  }
  
 
  .btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
  }
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
