<div class="container">
  <header class="header">
    <app-negrito-texto [texto]="'Bem-vindo à LogicLA'"></app-negrito-texto>
  </header>

  <div class="mt-4">
    <p class="lead">A LogicLA é a sua parceira confiável no mundo da logística. Com um compromisso inabalável com a qualidade e soluções personalizadas, estamos aqui para simplificar a complexidade da logística para você.</p>
    <p class="lead">Desde transporte eficiente até armazenamento seguro, estamos prontos para atender às suas necessidades de logística. Conte conosco para impulsionar o sucesso da sua empresa na cadeia de suprimentos.</p>
  </div>
</div>


  
  
